<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/homepage.css" />
    <title>SheCan</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.png">
  </head>
  <body>

    
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../static/icon.png" alt="Bootstrap" width="140vh" height="75vh">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="../templates/homepage.html">Home</a>
            <a class="nav-link" href="../templates/tracker.html">Period Tracker</a>
            <a class="nav-link" href="../templates/ai.html">AI Consultation</a>
            <a class="nav-link" href="../templates/indexMeditation.html">Meditation Zone</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="../templates/login.html" id="login">Login/Signup</a>
          </div>
        </div>
      </div>
    </nav>


    <header class="header" id="header">
      <div class="section__container header__container">
        <div class="header__content">
          <h1>SheCan</h1>
          <h2>"EMPOWERING WOMEN, ONE CYCLE AT A TIME!"</h2>
          <p>Got questions about your flow? We've got answers! Join our quirky platform to know more about your menstrual health. Let's flow together!</p>
          
        </div>
      </div>
    </header>

    <section class="section__container about__container" id="about">
      <div class="about__header">
        <h2 class="section__header">ABOUT US</h2>
        <p class="section__description">
            Our mission is to demystify the menstrual cycle! 🩸 Got questions about your flow? Wondering what's normal or need quirky period hacks? We've got you covered! Hop on our platform to embrace your cycle with confidence. Let's talk periods, no taboo allowed! 💁‍♀️ #PeriodPower
        </p>
      </div>
      <div class="about__grid">
        <div class="about__card">
          <h4>OVULATION AND PERIOD TRACKER</h4>
          <p>
            A Ovulation Tracker pinpoints your fertile week and ovulation cycle, enhancing the chance of conception by over 90%.  A Period Tracker monitors menstrual cycles, helping you predict and track your periods with precision. Stay informed and take control of your reproductive health effortlessly with this essential tool. Stay informed and maximize your odds of starting a family. Let technology empower your journey to parenthood.
          </p>
        </div>
        <div class="about__card">
          <h4>AI CHATBOT</h4>
          <p>
            Empowering women's health through personalized guidance: our chatbot listens to your concerns—from periods to postpartum—and offers tailored solutions for holistic wellness.
          </p>
        </div>
        <div class="about__card">
          <h4>MEDITATION ZONE</h4>
          <p>
            Enter our meditation zone: set your timer, embrace serenity, and indulge in all-season vibes. Time flies when you're zen! Come, chill!   
                </p>
        </div>
      </div>
    </section>

    
    
    <section class="blog" id="blog">
      <div class="section__container blog__container">
        <h2 class="section__header">WANT TO KNOW MORE? </h2>
        <div class="blog__grid">
          <div class="blog__card">
            <img src="../static/OSTEROSIS.webp" alt="blog" />
            <a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/menopause-and-osteoporosis"> <h4>Menopause and osteoporosis</h4>
            </a>
          </div>
          <div class="blog__card">
            <img src="../static/oral health.jpeg" alt="blog" />
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3793432/"> <h4>Menopause and oral health</h4> 
            </a>
          </div>
          <div class="blog__card">
            <img src="../static/periods.jpeg" alt="blog" />
            <a href= " https://www.thewomens.org.au/health-information/periods/healthy-periods"><h4>Tips for healthy periods</h4>
             </a> 
          </div>
          <div class="blog__card">
            <img src="../static/fertility.jpeg" alt="blog" />
           <a href="https://www.mayoclinic.org/healthy-lifestyle/getting-pregnant/expert-answers/ovulation-signs/faq-20058000#:~:text=In%20an%20average%2028%2Dday,next%20menstrual%20period%20may%20vary"><h4>When do you ovulate?</h4></a>
          </div>
        </div>
        <div class="blog__btn">
          <button class="btn btn__primary">VIEW ALL</button>
        </div>
      </div>
    </section>

   

    <footer class="footer" id="contact">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="footer__logo">
            <a href="#"><img src="../static/icon1.png" alt="logo" /></a>
          </div>
          <p>
            Welcome to SheCan! 🌸 Where we say no to pain, heavy flows, and period mysteries! Join us in ditching the discomfort and embracing menstrual know-how. Let's own our cycles, ladies! 💪 #PeriodPositivity
          </p>
  
        </div>
        
         
        <div class="footer__col">
          <h4>NEWSLETTER</h4>
          <p>
            Don't miss out on the latest news and offers - sign up today and
            join our #PeriodPositivity community!
          </p>
          <form action="/">
            <input type="text" placeholder="Enter Email" style="background-color: transparent;"/>
            <button class="btn btn__primary">SEND</button>
          </form>
          <div class="footer__socials">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-youtube-fill"></i></a>
          </div>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024 SheCan. All rights reserved.
      </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/homepage.js"></script>
  </body>
</html>