<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sheCan</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/calendar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/calendar.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../static/icon.png" alt="Bootstrap" width="140vh" height="75vh">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link active" aria-current="page" href="#">About</a>
                <a class="nav-link" href="../templates/tracker.html">Period Tracker</a>
                <a class="nav-link" href="../templates/ai.html">AI Consultation</a>
                <a class="nav-link" href="#">Meditation Zone</a>
              </div>
              <div class="navbar-nav ms-auto">
                <a class="nav-link" href="#" id="login">Login/Signup</a>
              </div>
          </div>
        </div>
      </nav>



    <form id="createEventForm" style="z-index: 2">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" />
      <br />
      <label for="duration">Duration (days):</label>
      <input type="text" id="duration" name="duration" />
      <br />
      <label for="repeat">Repeat every (days):</label>
      <input type="text" id="repeat" name="repeat" />
      <br />
      <button type="button" id="createEventButton">Create Event</button>
    </form>
    

    <!-- Modal for Calendar -->
    <div
      class="modal fade"
      id="calendarModal"
      tabindex="-1"
      aria-labelledby="calendarModalLabel"
      aria-hidden="true"
      style="z-index: 2"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="calendarModalLabel">Calendar</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Your calendar content goes here -->
            <div class="header">
              <div id="month"></div>
              <div>
                <button id="btnBack"><i class="fa fa-angle-left"></i></button>
                <button id="btnNext"><i class="fa fa-angle-right"></i></button>
              </div>
            </div>
            <div class="weekdays">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
            </div>
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // JavaScript code for handling modal trigger
      const createEventButton = document.getElementById("createEventButton");
      createEventButton.addEventListener("click", function () {
        $("#calendarModal").modal("show"); // Show the modal when the button is clicked
      });
    </script>
  </body>
</html>
